doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      div.container
        a(href = '/') Todo App
        ul
          if user
            li
              a(href = '/profile') Hello #{user.displayName}!
            li
              a(href = '/logout') Log Out
          else
            li
              a(href = '/login') Login
            li
              a(href = '/register') Register


    div.container
      block content
