extends ../layout

block content
    div.content
        // todo figure out what's wrong with the user's name not popping up
            // layout's working fine...
        h1 Hello #{user.displayName}!