extends ../layout

block content
    div.content(class = `${theme}`)
        h1 Hello #{user.first_name}!

        h3 You can
        ul
            each permission in user.subscription.permissions
                li= permission.name
        if user.can('add standard badge') || user.can('add premium badge')
            a.button.primary(href = '/basic') Revert to Basic
        if user.can('add basic badge') || user.can('add premium badge')
            a.button.primary(href = '/standard') Subscribe to Standard
        if user.can('add basic badge') || user.can('add standard badge')
            a.button.primary(href = '/premium') Subscribe to Premium